# Puerto del servidor
PORT=5000

# URI de MongoDB
# Local:
DB_URI=mongodb://localhost:27017/annie_db
# Atlas (cloud):
# DB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/annie_db?retryWrites=true&w=majority

# Clave secreta para JWT (cámbiala por una cadena segura y larga)
JWT_SECRET=cambia_esto_por_una_clave_secreta_segura
